/*1. Global */
/*2. Elements */
/*3. Classes */
/*4. Functional */



/*1. Global */
html, body {
    min-height: 100%;
}

body {
    font-family: "Overpass", sans-serif;
    background: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
}




/*2. Elements */
h2 {
  color: hsl(0, 0%, 100%);  
}



/*3. Classes */
.survey-card {
    width: 80%;
    max-width: 450px;
    
}



/*4. Functional */