/*1. Global */
/*2. Elements */
/*3. Classes */
/*4. Functional */



/*1. Global */
html, body {
    min-height: 100%;
}

body {
    font-family: "Overpass", sans-serif;
    background: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
}



/*2. Elements */
h2 {
  color: hsl(0, 0%, 100%);  
}



/*3. Classes */
.survey-card {
    width: 80%;
    max-width: 450px;
    border-radius: 1.5em;
    display: flex;
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.star-icon {
    max-width: 15px;
    background-color: rgba(124,135,152,.10);
    border-radius: 70%;
    padding: 5px;
}

.rating-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.rating-buttons > button{
    outline: none;
    border-radius: 70%;
    font-size: 15px;
    background-color: rgba(124,135,152,.10);
    padding: 15px;

}

.thank-you {
    display: flex;
    visibility: hidden;
}
/*4. Functional */

.submit {
    background-color: hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    line-height: 1.5rem;
    width: 100%;
    border-radius: 1.3rem;
    justify-self: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}